@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Escuela Politécnica Superior I - Universidad de Alicante<br />
    San Vicente del Raspeig (Alicante, España), 03690<br />
</address>

<address>
    <a href="">Grupo público de Telegram</a></abbr><br/>
    <strong>Contacto:</strong>   <a href="mailto:contacto.multitecua@gmail.com">contacto.multitecua@gmail.com</a>
</address>